<html data-header-styles="light" data-menu-styles="dark" data-nav-layout="vertical" data-theme-mode="light" data-vertical-style="overlay"
      dir="ltr" lang="en" loader="disable">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>synto - Bootstrap 5 Premium Admin &amp; Dashboard Template</title>
    <meta content="Bootstrap Responsive Admin Web Dashboard HTML5 Template" name="Description">
    <meta content="Spruko Technologies Private Limited" name="Author">
    <meta content="admin template,admin dashboard,template dashboard,admin panel,bootstrap admin,admin,dashboard,html,admin dashboard template,html template,bootstrap template,admin panel template,bootstrap admin template,bootstrap 5 admin template,html and css"
          name="keywords">
    <link href="https://spruko.com/demo/synto/bootstrap/dist/assets/img/brand-logos/favicon.ico" rel="icon"
          type="image/x-icon">
    <script src="/synto/bootstrap/dist/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/synto/bootstrap/dist/assets/js/main.js"></script>
    <link href="/synto/bootstrap/dist/assets/libs/bootstrap/css/bootstrap.min.css" id="style" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/css/styles.css" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/css/icons.css" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/libs/node-waves/waves.min.css" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/libs/simplebar/simplebar.min.css" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="/synto/bootstrap/dist/assets/libs/%40simonwep/pickr/themes/nano.min.css" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet"> 
    <link href="/synto/bootstrap/dist/assets/libs/prismjs/themes/prism-coy.min.css" rel="stylesheet">
    </head>
<body>
<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end" id="switcher-canvas" tabindex="-1">
    <div class="offcanvas-header border-bottom"><h5 class="offcanvas-title text-default" id="offcanvasRightLabel">
        Switcher</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="border-bottom border-block-end-dashed">
            <div class="nav nav-tabs nav-justified" id="switcher-main-tab" role="tablist">
                <button aria-controls="switcher-home" aria-selected="true" class="nav-link active"
                        data-bs-target="#switcher-home" data-bs-toggle="tab" id="switcher-home-tab" role="tab"
                        type="button">Theme Styles
                </button>
                <button aria-controls="switcher-profile" aria-selected="false" class="nav-link"
                        data-bs-target="#switcher-profile" data-bs-toggle="tab" id="switcher-profile-tab" role="tab"
                        tabindex="-1" type="button">Theme Colors
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div aria-labelledby="switcher-home-tab" class="tab-pane fade show active border-0" id="switcher-home"
                 role="tabpanel" tabindex="0">
                <div class=""><p class="switcher-style-head">Theme Color Mode:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-light-theme"> Light </label>
                                <input checked="" class="form-check-input" id="switcher-light-theme"
                                       name="theme-style" type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-dark-theme"> Dark </label> <input
                                    class="form-check-input" id="switcher-dark-theme" name="theme-style" type="radio">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Directions:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label" for="switcher-ltr">
                                LTR </label> <input checked="" class="form-check-input" id="switcher-ltr"
                                                    name="direction" type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label" for="switcher-rtl">
                                RTL </label> <input class="form-check-input" id="switcher-rtl" name="direction"
                                                    type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Navigation Styles:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-vertical"> Vertical </label>
                                <input checked="" class="form-check-input" id="switcher-vertical"
                                       name="navigation-style" type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-horizontal"> Horizontal </label>
                                <input class="form-check-input" id="switcher-horizontal" name="navigation-style"
                                       type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class="navigation-menu-styles"><p class="switcher-style-head">Vertical &amp; Horizontal Menu
                    Styles:</p>
                    <div class="row switcher-style gx-0 pb-2 gy-2">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-menu-click"> Menu Click </label>
                                <input class="form-check-input" id="switcher-menu-click" name="navigation-menu-styles"
                                       type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-menu-hover"> Menu Hover </label>
                                <input class="form-check-input" id="switcher-menu-hover" name="navigation-menu-styles"
                                       type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-icon-click"> Icon Click </label>
                                <input class="form-check-input" id="switcher-icon-click" name="navigation-menu-styles"
                                       type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-icon-hover"> Icon Hover </label>
                                <input class="form-check-input" id="switcher-icon-hover" name="navigation-menu-styles"
                                       type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class="sidemenu-layout-styles"><p class="switcher-style-head">Sidemenu Layout Styles:</p>
                    <div class="row switcher-style gx-0 pb-2 gy-2">
                        <div class="col-sm-6">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-default-menu"> Default
                                Menu </label> <input checked="" class="form-check-input" id="switcher-default-menu"
                                                     name="sidemenu-layout-styles" type="radio"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-closed-menu"> Closed
                                Menu </label> <input class="form-check-input" id="switcher-closed-menu" name="sidemenu-layout-styles"
                                                     type="radio"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-icontext-menu"> Icon
                                Text </label> <input class="form-check-input" id="switcher-icontext-menu" name="sidemenu-layout-styles"
                                                     type="radio"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-icon-overlay"> Icon
                                Overlay </label> <input class="form-check-input" id="switcher-icon-overlay"
                                                        name="sidemenu-layout-styles" type="radio"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-detached"> Detached </label>
                                <input class="form-check-input" id="switcher-detached" name="sidemenu-layout-styles"
                                       type="radio"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-double-menu"> Double
                                Menu </label> <input class="form-check-input" id="switcher-double-menu" name="sidemenu-layout-styles"
                                                     type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Page Styles:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-regular"> Regular </label> <input
                                    checked="" class="form-check-input" id="switcher-regular" name="page-styles"
                                    type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-classic"> Classic </label> <input
                                    class="form-check-input" id="switcher-classic" name="page-styles" type="radio">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label" for="switcher-modern">
                                Modern </label> <input class="form-check-input" id="switcher-modern" name="page-styles"
                                                       type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Layout Width Styles:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-full-width"> Full Width </label>
                                <input checked="" class="form-check-input" id="switcher-full-width"
                                       name="layout-width" type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label" for="switcher-boxed">
                                Boxed </label> <input class="form-check-input" id="switcher-boxed" name="layout-width"
                                                      type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Menu Positions:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-menu-fixed"> Fixed </label>
                                <input checked="" class="form-check-input" id="switcher-menu-fixed"
                                       name="menu-positions" type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-menu-scroll"> Scrollable </label>
                                <input class="form-check-input" id="switcher-menu-scroll" name="menu-positions"
                                       type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Header Positions:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-header-fixed"> Fixed </label>
                                <input checked="" class="form-check-input" id="switcher-header-fixed"
                                       name="header-positions" type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-header-scroll">
                                Scrollable </label> <input class="form-check-input" id="switcher-header-scroll" name="header-positions"
                                                           type="radio"></div>
                        </div>
                    </div>
                </div>
                <div class=""><p class="switcher-style-head">Loader:</p>
                    <div class="row switcher-style gx-0">
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-loader-enable"> Enable </label>
                                <input class="form-check-input" id="switcher-loader-enable" name="page-loader"
                                       type="radio"></div>
                        </div>
                        <div class="col-4">
                            <div class="form-check switch-select"><label class="form-check-label"
                                                                         for="switcher-loader-disable"> Disable </label>
                                <input checked="" class="form-check-input" id="switcher-loader-disable"
                                       name="page-loader" type="radio"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="switcher-profile-tab" class="tab-pane fade border-0" id="switcher-profile"
                 role="tabpanel" tabindex="0">
                <div>
                    <div class="theme-colors"><p class="switcher-style-head">Menu Colors:</p>
                        <div class="d-flex switcher-style pb-2">
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Light Menu" class="form-check-input color-input color-white"
                                    data-bs-original-title="Light Menu" data-bs-placement="top" data-bs-toggle="tooltip" id="switcher-menu-light"
                                    name="menu-colors" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Dark Menu" checked=""
                                    class="form-check-input color-input color-dark" data-bs-original-title="Dark Menu" data-bs-placement="top" data-bs-toggle="tooltip"
                                    id="switcher-menu-dark" name="menu-colors" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Color Menu" class="form-check-input color-input color-primary"
                                    data-bs-original-title="Color Menu" data-bs-placement="top" data-bs-toggle="tooltip" id="switcher-menu-primary"
                                    name="menu-colors" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Gradient Menu" class="form-check-input color-input color-gradient"
                                    data-bs-original-title="Gradient Menu" data-bs-placement="top" data-bs-toggle="tooltip" id="switcher-menu-gradient"
                                    name="menu-colors" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Transparent Menu" class="form-check-input color-input color-transparent"
                                    data-bs-original-title="Transparent Menu" data-bs-placement="top" data-bs-toggle="tooltip"
                                    id="switcher-menu-transparent" name="menu-colors"
                                    type="radio"></div>
                        </div>
                        <div class="px-4 pb-3 text-muted fs-11">Note:If you want to change color Menu dynamically change
                            from below Theme Primary color picker
                        </div>
                    </div>
                    <div class="theme-colors"><p class="switcher-style-head">Header Colors:</p>
                        <div class="d-flex switcher-style pb-2">
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Light Header" checked=""
                                    class="form-check-input color-input color-white" data-bs-original-title="Light Header" data-bs-placement="top" data-bs-toggle="tooltip"
                                    id="switcher-header-light" name="header-colors" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Dark Header" class="form-check-input color-input color-dark"
                                    data-bs-original-title="Dark Header" data-bs-placement="top" data-bs-toggle="tooltip" id="switcher-header-dark"
                                    name="header-colors" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Color Header" class="form-check-input color-input color-primary"
                                    data-bs-original-title="Color Header" data-bs-placement="top" data-bs-toggle="tooltip"
                                    id="switcher-header-primary" name="header-colors"
                                    type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Gradient Header" class="form-check-input color-input color-gradient"
                                    data-bs-original-title="Gradient Header" data-bs-placement="top" data-bs-toggle="tooltip"
                                    id="switcher-header-gradient" name="header-colors"
                                    type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    aria-label="Transparent Header" class="form-check-input color-input color-transparent"
                                    data-bs-original-title="Transparent Header" data-bs-placement="top" data-bs-toggle="tooltip"
                                    id="switcher-header-transparent" name="header-colors"
                                    type="radio"></div>
                        </div>
                        <div class="px-4 pb-3 text-muted fs-11">Note:If you want to change color Header dynamically
                            change from below Theme Primary color picker
                        </div>
                    </div>
                    <div class="theme-colors"><p class="switcher-style-head">Theme Primary:</p>
                        <div class="d-flex flex-wrap align-items-center switcher-style">
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-primary-1" id="switcher-primary"
                                    name="theme-primary" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-primary-2" id="switcher-primary1"
                                    name="theme-primary" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-primary-3" id="switcher-primary2"
                                    name="theme-primary" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-primary-4" id="switcher-primary3"
                                    name="theme-primary" type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-primary-5" id="switcher-primary4"
                                    name="theme-primary" type="radio"></div>
                            <div class="form-check switch-select ps-0 mt-1 color-primary-light">
                                <div class="theme-container-primary">
                                    <button class="">nano</button>
                                </div>
                                <div class="pickr-container-primary">
                                    <div class="pickr">

                                        <button aria-label="toggle color picker dialog" class="pcr-button" role="button"
                                                style="--pcr-color: rgba(132, 90, 223, 1);"
                                                type="button"></button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="theme-colors"><p class="switcher-style-head">Theme Background:</p>
                        <div class="d-flex flex-wrap align-items-center switcher-style">
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-bg-1" id="switcher-background" name="theme-background"
                                    type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-bg-2" id="switcher-background1" name="theme-background"
                                    type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-bg-3" id="switcher-background2" name="theme-background"
                                    type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-bg-4" id="switcher-background3" name="theme-background"
                                    type="radio"></div>
                            <div class="form-check switch-select me-3"><input
                                    class="form-check-input color-input color-bg-5" id="switcher-background4" name="theme-background"
                                    type="radio"></div>
                            <div class="form-check switch-select ps-0 mt-1 tooltip-static-demo color-bg-transparent">
                                <div class="theme-container-background">
                                    <button>nano</button>
                                </div>
                                <div class="pickr-container-background">
                                    <div class="pickr">

                                        <button aria-label="toggle color picker dialog" class="pcr-button" role="button"
                                                style="--pcr-color: rgba(132, 90, 223, 1);"
                                                type="button"></button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-image mb-3"><p class="switcher-style-head">Menu With Background Image:</p>
                        <div class="d-flex flex-wrap align-items-center switcher-style">
                            <div class="form-check switch-select m-2"><input
                                    class="form-check-input bgimage-input bg-img1" id="switcher-bg-img" name="theme-bgimage"
                                    type="radio"></div>
                            <div class="form-check switch-select m-2"><input
                                    class="form-check-input bgimage-input bg-img2" id="switcher-bg-img1" name="theme-bgimage"
                                    type="radio"></div>
                            <div class="form-check switch-select m-2"><input
                                    class="form-check-input bgimage-input bg-img3" id="switcher-bg-img2" name="theme-bgimage"
                                    type="radio"></div>
                            <div class="form-check switch-select m-2"><input
                                    class="form-check-input bgimage-input bg-img4" id="switcher-bg-img3" name="theme-bgimage"
                                    type="radio"></div>
                            <div class="form-check switch-select m-2"><input
                                    class="form-check-input bgimage-input bg-img5" id="switcher-bg-img4" name="theme-bgimage"
                                    type="radio"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-1 justify-content-between canvas-footer flex-wrap"><a
                    class="btn btn-primary" href="https://1.envato.market/e1BaED" target="_blank">Try Now</a> <a
                    class="btn btn-secondary" href="https://1.envato.market/MGEaN" target="_blank">Our Portfolio</a> <a
                    class="btn btn-danger" href="javascript:void(0);" id="reset-all">Reset</a></div>
        </div>
    </div>
</div>  
<div class="d-none" id="loader"><img alt="" src="/synto/bootstrap/dist/assets/img/media/loader.svg"></div> 
<div class="page"> 
    <header class="app-header"> 
        <div class="main-header-container container-fluid"> 
            <div class="header-content-left"> 
                <div class="header-element">
                    <div class="horizontal-logo"><a class="header-logo" href="/"> <img
                            alt="logo" class="desktop-logo" src="/synto/bootstrap/dist/assets/img/brand-logos/desktop-logo.png"> <img
                            alt="logo" class="toggle-logo" src="/synto/bootstrap/dist/assets/img/brand-logos/toggle-logo.png"> <img
                            alt="logo" class="desktop-dark" src="/synto/bootstrap/dist/assets/img/brand-logos/desktop-dark.png"> <img
                            alt="logo" class="toggle-dark" src="/synto/bootstrap/dist/assets/img/brand-logos/toggle-dark.png"> <img
                            alt="logo" class="desktop-white" src="/synto/bootstrap/dist/assets/img/brand-logos/desktop-white.png"> <img
                            alt="logo" class="toggle-white" src="/synto/bootstrap/dist/assets/img/brand-logos/toggle-white.png"> </a></div>
                </div>  
                <div class="header-element"> 
                    <div class=""><a class="sidebar-toggle sidemenu-toggle header-link" data-bs-toggle="sidebar"
                                     href="javascript:void(0);"> <span class="sr-only">Toggle Navigation</span> <i
                            class="ri-arrow-right-circle-line header-icon"></i> </a></div>
                    
                     </div>  </div>
             
            <div class="header-content-right"> 
                <div class="header-element country-selector">  <a
                        class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown"
                        href="javascript:void(0);"> <img alt="img" class="rounded-circle header-link-icon"
                                                        src="/synto/bootstrap/dist/assets/img/flags/10.png"> </a>
                    
                    <ul class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                        <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> <span
                                class=" lh-1 me-2"> <img alt="img" src="/synto/bootstrap/dist/assets/img/flags/10.png"> </span> English
                        </a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> <span
                                class=" lh-1 me-2"> <img alt="img" src="/synto/bootstrap/dist/assets/img/flags/1.png"> </span> Spanish </a>
                        </li>
                        <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> <span
                                class=" lh-1 me-2"> <img alt="img" src="/synto/bootstrap/dist/assets/img/flags/2.png"> </span> French </a>
                        </li>
                        <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> <span
                                class=" lh-1 me-2"> <img alt="img" src="/synto/bootstrap/dist/assets/img/flags/3.png"> </span> German </a>
                        </li>
                        <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> <span
                                class=" lh-1 me-2"> <img alt="img" src="/synto/bootstrap/dist/assets/img/flags/4.png"> </span> Italian </a>
                        </li>
                        <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> <span
                                class=" lh-1 me-2"> <img alt="img" src="/synto/bootstrap/dist/assets/img/flags/5.png"> </span> Russian </a>
                        </li>
                    </ul>
                </div>  
                
                 
                <div class="header-element header-theme-mode">  <a
                        class="header-link layout-setting" href="javascript:void(0);"> <span class="light-layout">  <i
                        class="ri-moon-line header-link-icon"></i>  </span> <span
                        class="dark-layout">  <i
                        class="ri-sun-line header-link-icon"></i>  </span> </a>
                     </div> 
                
                <div class="header-element">  <a aria-expanded="false"
                                                                                            class="header-link dropdown-toggle"
                                                                                            data-bs-auto-close="outside"
                                                                                            data-bs-toggle="dropdown"
                                                                                            href="javascript:void(0);"
                                                                                            id="mainHeaderProfile">
                    <div class="d-flex align-items-center">
                        <div class=""><img alt="img" class="rounded-circle" height="30" src="/synto/bootstrap/dist/assets/img/users/1.jpg"
                                           width="30"></div>
                    </div>
                </a> 
                    <div aria-labelledby="mainHeaderProfile"
                         class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end">
                        <div class="header-dropdown bg-primary text-fixed-white rounded-top">
                            <div class="d-flex align-items-center">
                                <div class="me-sm-2 me-0 avatar"><img alt="img" class="rounded-circle"
                                                                      src="/synto/bootstrap/dist/assets/img/users/1.jpg"></div>
                                <div class="d-sm-block d-none"><p class="fw-semibold mb-0 lh-1">Json Taylor</p></div>
                            </div>
                        </div>
                        <div class="dropdown-divider mb-0"></div>
                        <ul class="list-unstyled mb-0">
                            <li><a class="dropdown-item d-flex" href="/user/profile"><i
                                    class="ti ti-user-circle fs-18 me-2"></i>Profile</a></li>
                            <li><a class="dropdown-item d-flex" href="/auth/logout"><i
                                    class="ti ti-logout fs-18 me-2"></i>Log Out</a></li>
                        </ul>
                    </div>
                </div>  
                <div class="header-element">  <a class="header-link switcher-icon"
                                                                                          data-bs-target="#switcher-canvas"
                                                                                          data-bs-toggle="offcanvas"
                                                                                          href="javascript:void(0);">
                    <i class="ri-settings-5-line animate-spin header-link-icon"></i> </a>
                     </div>  </div>
             </div>  </header> 
    
    <aside class="app-sidebar" id="sidebar"> 
        <div class="main-sidebar-header"><a class="header-logo" href="/"> <img
                alt="logo" class="main-logo desktop-logo" src="/synto/bootstrap/dist/assets/img/brand-logos/desktop-logo.png"> <img
                alt="logo" class="main-logo toggle-logo" src="/synto/bootstrap/dist/assets/img/brand-logos/toggle-logo.png"> <img
                alt="logo" class="main-logo desktop-dark" src="/synto/bootstrap/dist/assets/img/brand-logos/desktop-dark.png"> <img
                alt="logo" class="main-logo toggle-dark" src="/synto/bootstrap/dist/assets/img/brand-logos/toggle-dark.png"> <img
                alt="logo" class="desktop-white" src="/synto/bootstrap/dist/assets/img/brand-logos/desktop-white.png"> <img
                alt="logo" class="toggle-white" src="/synto/bootstrap/dist/assets/img/brand-logos/toggle-white.png"> </a></div>
         
        <div class="main-sidebar " data-simplebar="init" id="sidebar-scroll">
            <div class="simplebar-wrapper" style="margin: -8px 0px -80px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div aria-label="scrollable content" class="simplebar-content-wrapper" role="region"
                             style="height: 100%; overflow: hidden;" tabindex="0">
                            <div class="simplebar-content" style="padding: 8px 0px 80px;"> 
                                <nav class="main-menu-container nav nav-pills flex-column sub-open">
                                    <div class="slide-left d-none" id="slide-left">
                                        <svg fill="#7b8191" height="24" viewBox="0 0 24 24" width="24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                                        </svg>
                                    </div>
                                    <ul class="main-menu" style="margin-left: 0px; margin-right: 0px;">
                                        <li class="slide__category"><span class="category-name">General</span></li>
                                        
                                        <li class="slide has-sub open active"><a class="side-menu__item active"
                                                                                 href="javascript:void(0);"> <i
                                                class="ri-file-list-3-line side-menu__icon"></i> <span
                                                class="side-menu__label">Basic Ui</span> <i
                                                class="ri ri-arrow-right-s-line side-menu__angle"></i> </a>
                                            <ul class="slide-menu child1"
                                                data-popper-placement="bottom"
                                                style="position: relative; left: 0px; top: 0px; margin: 0px; display: block; transform: translate(12px, 690px);">
                                                <li class="slide side-menu__label1"><a href="javascript:void(0)">Basic
                                                    Ui</a></li>
                                                <li class="slide"><a class="side-menu__item active" href="/admin/panel">Panel</a>
                                            </ul>
                                        </li> 
                                        </ul>
                                    <div class="slide-right d-none" id="slide-right">
                                        <svg fill="#7b8191" height="24" viewBox="0 0 24 24" width="24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                                        </svg>
                                    </div>
                                </nav>  </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 1172px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
            </div>
        </div>
    </aside> 
    
    <div class="main-content app-content">
        <div class="container-fluid">  
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb"><h1
                    class="page-title fw-medium fs-24 mb-0">Tables</h1>
            </div>   
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title"> Users</div>
                            <div class="prism-toggle">
                                <button class="btn btn-sm btn-primary-light">Show Code<i
                                        class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-nowrap" id="users-table">
                                    <thead>
                                    <tr>
                                        <th class="text-center" scope="col"><input aria-label="..."
                                                                                   class="form-check-input" id="checkboxNoLabel"
                                                                                   type="checkbox" value=""></th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Role/Plan</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="pagination-info">
                                    Показано <span class="showing">0</span> из <span class="total">0</span>
                                </div>
                                <div class="btn-group pagination">
                                    <button class="btn btn-primary prev"><</button>
                                    <input type="number" class="form-control page-input" value="1" min="1">
                                    <button class="btn btn-primary next">></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            </div>
    </div> 
    <div aria-hidden="true" aria-labelledby="searchModal" class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="input-group"><a class="input-group-text border-0 bg-transparent"
                                                href="javascript:void(0);" id="Search-Grid"><i
                            class="ri ri-search-2-line header-link-icon fs-14"></i></a> <input aria-label="Username"
                                                                                               class="form-control form-control-sm border-0 px-2"
                                                                                               placeholder="Search"
                                                                                               type="search"> <a
                            class="input-group-text border-0 bg-transparent" href="javascript:void(0);"
                            id="voice-search"><i class="ri ri-mic-2-line  header-link-icon"></i></a> <a
                            aria-expanded="false" class="btn btn-light btn-icon border-0 bg-transparent"
                            data-bs-toggle="dropdown" href="javascript:void(0);"> <i class="ri ri-more-2-line"></i> </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="mt-4"><p class="fw-semibold text-muted mb-2">Are You Looking For...</p><span
                            class="search-tags"><i class="ri ri-user-line me-2"></i>Team<a class="tag-addon bg-transparent header-remove-btn"
                                                                                           href="javascript:void(0)"><i
                            class="fe fe-x"></i></a></span> <span class="search-tags"><i
                            class="ri ri-file-text-line me-2"></i>Forms<a class="tag-addon bg-transparent header-remove-btn"
                                                                          href="javascript:void(0)"><i
                            class="fe fe-x"></i></a></span> <span class="search-tags"><i
                            class="ri ri-map-pin-line me-2"></i>Maps<a class="tag-addon bg-transparent header-remove-btn"
                                                                       href="javascript:void(0)"><i
                            class="fe fe-x"></i></a></span> <span class="search-tags"><i
                            class="ri ri-server-line me-2"></i>Widgets<a class="tag-addon bg-transparent header-remove-btn"
                                                                         href="javascript:void(0)"><i
                            class="fe fe-x"></i></a></span></div>
                    <div class="my-4"><p class="fw-semibold text-muted mb-2">Recent Search :</p>
                        <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert"><a
                                href="notifications.html"><span>Notifications</span></a> <a aria-label="Close"
                                                                                            class="ms-auto lh-1"
                                                                                            data-bs-dismiss="alert"
                                                                                            href="javascript:void(0);"><i
                                class="fe fe-x text-muted"></i></a></div>
                        <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert"><a
                                href="alerts.html"><span>Alerts</span></a> <a aria-label="Close"
                                                                              class="ms-auto lh-1"
                                                                              data-bs-dismiss="alert"
                                                                              href="javascript:void(0);"><i
                                class="fe fe-x text-muted"></i></a></div>
                        <div class="p-2 border br-5 d-flex align-items-center text-muted mb-0 alert"><a
                                href="mail-inbox.html"><span>Mail</span></a> <a aria-label="Close"
                                                                                class="ms-auto lh-1"
                                                                                data-bs-dismiss="alert"
                                                                                href="javascript:void(0);"><i
                                class="fe fe-x text-muted"></i></a></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group ms-auto">
                        <button class="btn btn-sm btn-primary-light">Search</button>
                        <button class="btn btn-sm btn-primary">Clear Recents</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <footer class="footer mt-auto py-3 bg-white text-center">
        <div class="container"><span class="text-center">Copyright © <span id="year">2025</span> <a
                class="text-primary" href="javascript:void(0)">Synto</a>. Designed with <span
                class="ri ri-heart-fill text-danger"></span> by <a class="text-primary" href="https://www.spruko.com/"
                                                                   target="_blank"> Spruko </a> All rights reserved </span>
        </div>
    </footer>  </div> 
<div class="scrollToTop" style="display: none;"><span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>  
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/libs/%40popperjs/core/umd/popper.min.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/js/defaultmenu.min.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/libs/node-waves/waves.min.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/js/sticky.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/libs/simplebar/simplebar.min.js"></script>
<script type="text/javascript"></script>
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/js/simplebar.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/libs/%40simonwep/pickr/pickr.es5.min.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/js/custom-switcher.min.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/libs/prismjs/prism.js"></script>
<script type="text/javascript"></script>
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/js/prism-custom.js"></script>
<script type="text/javascript"></script> 
<noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
<script src="/synto/bootstrap/dist/assets/js/custom.js"></script>
<div aria-label="color picker dialog" class="pcr-app " data-theme="nano" role="window" style="left: 0px; top: 8px;">
    <div class="pcr-selection">
        <div class="pcr-color-preview">
            <button aria-label="use previous color" class="pcr-last-color" style="--pcr-color: rgba(132, 90, 223, 1);"
                    type="button"></button>
            <div class="pcr-current-color" style="--pcr-color: rgba(132, 90, 223, 1);"></div>
        </div>

        <div class="pcr-color-palette">
            <div class="pcr-picker"
                 style="left: calc(59.6413% - 9px); top: calc(12.549% - 9px); background: rgb(132, 90, 223);"></div>
            <div aria-label="color selection area" class="pcr-palette" role="listbox" style="background: linear-gradient(to top, rgb(0, 0, 0), transparent), linear-gradient(to left, rgb(81, 0, 255), rgb(255, 255, 255));"
                 tabindex="0"></div>
        </div>

        <div class="pcr-color-chooser">
            <div class="pcr-picker" style="left: calc(71.9298% - 9px); background-color: rgb(81, 0, 255);"></div>
            <div aria-label="hue selection slider" class="pcr-hue pcr-slider" role="slider" tabindex="0"></div>
        </div>

        <div class="pcr-color-opacity" hidden="" style="display:none">
            <div class="pcr-picker"></div>
            <div aria-label="selection slider" class="pcr-opacity pcr-slider" role="slider" tabindex="0"></div>
        </div>
    </div>

    <div class="pcr-swatches "></div>

    <div class="pcr-interaction">
        <input aria-label="color input field" class="pcr-result" spellcheck="false" type="text">

        <input class="pcr-type" data-type="HEXA" hidden="" style="display:none" type="button" value="HEXA">
        <input class="pcr-type active" data-type="RGBA" type="button" value="RGBA">
        <input class="pcr-type" data-type="HSLA" hidden="" style="display:none" type="button" value="HSLA">
        <input class="pcr-type" data-type="HSVA" hidden="" style="display:none" type="button" value="HSVA">
        <input class="pcr-type" data-type="CMYK" hidden="" style="display:none" type="button" value="CMYK">

        <input aria-label="save and close" class="pcr-save" hidden="" style="display:none" type="button" value="Save">
        <input aria-label="cancel and close" class="pcr-cancel" hidden="" style="display:none" type="button"
               value="Cancel">
        <input aria-label="clear and close" class="pcr-clear" hidden="" style="display:none" type="button"
               value="Clear">
    </div>
</div>
<div aria-label="color picker dialog" class="pcr-app " data-theme="nano" role="window" style="left: 0px; top: 8px;">
    <div class="pcr-selection">
        <div class="pcr-color-preview">
            <button aria-label="use previous color" class="pcr-last-color" style="--pcr-color: rgba(132, 90, 223, 1);"
                    type="button"></button>
            <div class="pcr-current-color" style="--pcr-color: rgba(132, 90, 223, 1);"></div>
        </div>

        <div class="pcr-color-palette">
            <div class="pcr-picker"
                 style="left: calc(59.6413% - 9px); top: calc(12.549% - 9px); background: rgb(132, 90, 223);"></div>
            <div aria-label="color selection area" class="pcr-palette" role="listbox" style="background: linear-gradient(to top, rgb(0, 0, 0), transparent), linear-gradient(to left, rgb(81, 0, 255), rgb(255, 255, 255));"
                 tabindex="0"></div>
        </div>

        <div class="pcr-color-chooser">
            <div class="pcr-picker" style="left: calc(71.9298% - 9px); background-color: rgb(81, 0, 255);"></div>
            <div aria-label="hue selection slider" class="pcr-hue pcr-slider" role="slider" tabindex="0"></div>
        </div>

        <div class="pcr-color-opacity" hidden="" style="display:none">
            <div class="pcr-picker"></div>
            <div aria-label="selection slider" class="pcr-opacity pcr-slider" role="slider" tabindex="0"></div>
        </div>
    </div>

    <div class="pcr-swatches "></div>

    <div class="pcr-interaction">
        <input aria-label="color input field" class="pcr-result" spellcheck="false" type="text">

        <input class="pcr-type" data-type="HEXA" hidden="" style="display:none" type="button" value="HEXA">
        <input class="pcr-type active" data-type="RGBA" type="button" value="RGBA">
        <input class="pcr-type" data-type="HSLA" hidden="" style="display:none" type="button" value="HSLA">
        <input class="pcr-type" data-type="HSVA" hidden="" style="display:none" type="button" value="HSVA">
        <input class="pcr-type" data-type="CMYK" hidden="" style="display:none" type="button" value="CMYK">

        <input aria-label="save and close" class="pcr-save" hidden="" style="display:none" type="button" value="Save">
        <input aria-label="cancel and close" class="pcr-cancel" hidden="" style="display:none" type="button"
               value="Cancel">
        <input aria-label="clear and close" class="pcr-clear" hidden="" style="display:none" type="button"
               value="Clear">
    </div>
</div>
<script src="/copygen-html/src/js/jquery.js"></script>
<script defer type="module" src="/copygen-html/src/js/UserTableScript.js"></script>
@await Html.PartialAsync("Scripts");
<script defer type="module" src="/copygen-html/src/js/unloggedRedirect.js"></script>

</body>

</html>