<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Complete Registration - CopyGen - AI Writer &amp; Copywriting Landing Page HTML Template.</title>
    <link rel="stylesheet" href="/copygen-html/html/assets/css/style.css?v1.2.0">
</head>

<body class="nk-body" data-menu-collapse="lg">
    <div class="nk-app-root ">
        <header class="nk-header">
            <div class="nk-header-main nk-menu-main will-shrink is-transparent ignore-mask">
                <div class="container">
                    <div class="nk-header-wrap">
                        <div class="nk-header-logo">
                            <a href="/" class="logo-link">
                                <div class="logo-wrap">
                                    <img class="logo-img logo-dark" src="/docs/images/logo-dark.png" srcset="/docs/images/logo-dark2x.png 2x" alt="">
                                </div>
                            </a>
                        </div><!-- .nk-header-logo -->
                        <div class="nk-header-toggle">
                            <button class="btn btn-light btn-icon header-menu-toggle">
                                <em class="icon ni ni-menu"></em>
                            </button>
                        </div>
                        <nav class="nk-header-menu nk-menu">
                            <ul class="nk-menu-list mx-auto">
                                <li class="nk-menu-item">
                                    <span class="nk-menu-text">
                                        <a class="nk-menu-link" href="/">Home</a>
                                    </span>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="/usecase" class="nk-menu-link">
                                        <span class="nk-menu-text">Use Cases</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="/features" class="nk-menu-link">
                                        <span class="nk-menu-text">Features</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item has-dropdown">
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-text">Pages</span>
                                    </a>
                                    <div class="nk-menu-dropdown nk-menu-mega">
                                        <div class="nk-menu-mega-wrap">
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="/about">About</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="/pricing">Pricing</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="/blog.html">Blog</a>
                                                </li>
                                            </ul>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" href="contact.html">Contact</a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a class="nk-menu-link" target="_blank" href="/terms">Terms &amp; Condition</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="/pricing" class="nk-menu-link">
                                        <span class="nk-menu-text">Pricing</span>
                                    </a>
                                </li>
                            </ul><!-- .nk-menu-list -->
                            <ul class="nk-menu-buttons flex-lg-row-reverse">
                                <li><a href="#" class="btn btn-primary">Start Writing</a></li>
                                <li><a class="link link-dark" href="/login">Login </a></li>
                            </ul><!-- .nk-menu-buttons -->
                        </nav><!-- .nk-header-menu -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container -->
            </div><!-- .nk-header-main -->
        </header><!-- .nk-header -->
        <main class="nk-pages">
            <section class="section section-lg has-mask">
                <div class="nk-mask bg-pattern-dot bg-blend-around"></div>
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-md-7 col-lg-6 col-xl-5">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body">
                                        <div class="block-text text-center">
                                            <h6 class="overline-title smaller text-success mb-0">Registration Successful !</h6>
                                            <h3 class="title">Welcome to CopyGen family</h3>
                                            <p>Now login with your password supercharge your creative copywriting.</p>
                                            <ul class="btn-list btn-list-inline g-0">
                                                <li><a class="btn btn-primary" href="login.html"><span>Login Here</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
        </main>
        <footer class="nk-footer">
            <div class="section">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-xl-3 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">Use Case</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">AI Writer</a></li>
                                    <li><a class="link-base" href="#">AI Articel Writer</a></li>
                                    <li><a class="link-base" href="#">Content Generator</a></li>
                                    <li><a class="link-base" href="#">AI Content Writing</a></li>
                                    <li><a class="link-base" href="#">Content Rewriter</a></li>
                                    <li><a class="link-base" href="#">Blog Post Writer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">About</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">Pricing</a></li>
                                    <li><a class="link-base" href="#">Login</a></li>
                                    <li><a class="link-base" href="#">Sign up</a></li>
                                    <li><a class="link-base" href="#">Privacy Policy</a></li>
                                    <li><a class="link-base" href="#">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-4 col-6">
                            <div class="wgs">
                                <h6 class="wgs-title overline-title text-heading mb-3">CopyGen</h6>
                                <ul class="list gy-2 list-link-base">
                                    <li><a class="link-base" href="#">Contact Us</a></li>
                                    <li><a class="link-base" href="#">FAQs</a></li>
                                    <li><a class="link-base" href="#">Affiliate Program</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-7 col-md-9 me-auto order-xl-first">
                            <div class="block-text">
                                <a href="index.html" class="logo-link mb-4">
                                    <div class="logo-wrap">
                                        <img class="logo-img logo-dark" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="">
                                    </div>
                                </a>
                                <h4 class="title">Save time. Get inspired.</h4>
                                <p>Automatically genarate blog articles, website copy, landing pages &amp; digital ads for your business in seconds. Unleash the most advanced AI writer to boost your traffic and productitvity. </p>
                                <p class="text-heading mt-4">&copy; 2023 CopyGenAI. Template Made By <a target="_blank" href="https://softnio.com">Softnio</a> </p>
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
            </div><!-- .section -->
        </footer>
    </div>
    <script src="assets/js/bundle.js?v1.2.0"></script>
    <script src="assets/js/scripts.js?v1.2.0"></script>
</body>

</html>