<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/docs/images/favicon.png">
    <link rel="stylesheet" href="/copygen-html/html/assets/css/style.css?v1.2.0">
    <title>Terms &amp; Conditions - CopyGen - AI Writer &amp; Copywriting Landing Page HTML Template.</title>
</head>

<body class="nk-body" data-menu-collapse="lg">
    <div class="nk-app-root ">
        <header class="nk-header">
            @await Html.PartialAsync("Header")
        </header><!-- .nk-header -->
        <main class="nk-pages">
            <section class="section section-bottom-0 has-mask">
                <div class="nk-mask bg-pattern-dot bg-blend-around mt-n5 mb-10p mh-50vh"></div>
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-xxl-8 col-xl-9 col-lg-10">
                                <div class="text-center mb-6">
                                    <h6 class="overline-title text-primary">CopyGen</h6>
                                    <h1 class="title">Terms and Conditions</h1>
                                    <ul class="list list-row gx-2">
                                        <li>
                                            <div class="sub-text fs-5"> Last Updated Feb 10, 2023</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-typo">
                                    <h2>Pros of AI in legal document translation</h2>
                                    <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,because it is pleasure.</p>
                                    <h3>Automated reminders</h3>
                                    <p>Complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects pleasure itself because it is pleasure.</p>
                                    <h3>Legal research and background check</h3>
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
                                    <h3>Helps address linguistic limitation</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </p>
                                    <ul>
                                        <li>Content to be translated is of high priority and needs accurate translation.</li>
                                        <li>Requires cultural, legal, and contextual understanding.</li>
                                        <li>Material uses creative language which cannot be translated literally.</li>
                                        <li>Language translation needs to be grammatically accurate, with the right understanding </li>
                                    </ul>
                                    <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain</p>
                                    <h2>Human Translators vs. AI Translators</h2>
                                    <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                    <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure.</p>
                                    <h3>Speed</h3>
                                    <p>Complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects pleasure itself because it is pleasure.</p>
                                    <h3>Quality</h3>
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            @await Html.PartialAsync("BlockWritter");
        </main>
        <footer class="nk-footer">
            @await Html.PartialAsync("Footer");
        </footer>
    </div>
    @await Html.PartialAsync("Scripts");
</body>

</html>